<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-9 offset-sm-2">
    <%= form_with model: @user do |f| %>
      <div class="form-group row mt-5">
        <%= f.label :nickname, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-5">
          <%= f.text_field :nickname, class: "form-control" %>
        </div>
        <div class="offset-sm-5"></div>
      </div>

      <div class="form-group row mt-5">
        <%= f.label :login_id, "Login_id", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-5">
          <%= f.text_field :login_id, class: "form-control" %>
        </div>
        <div class="offset-sm-5"></div>
      </div>

      <div class="form-group row mt-5">
        <%= f.label :email, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-5">
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="offset-sm-5"></div>
      </div>

      <div class="form-group row mt-5">
        <%= f.label :password, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-5">
          <%= f.text_field :password, class: "form-control" %>
        </div>
        <div class="offset-sm-5"></div>
      </div>
      <div class="form-group row mt-5">
        <div class="col-sm-7">
          <%= f.submit "保存", class: "btn btn-primary col-sm-2" %>
        </div>
        <div class="offset-sm-3"></div>
      </div>
    <% end %>
    </div>
  </div>
</div>
