<% provide(:title, 'ログイン画面') %>
<%= stylesheet_link_tag 'admin/user_sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'admin/user_sessions', 'data-turbolinks-track': 'reload' %>

<p class="title">ログイン</p>
<div class="form-group">
  <%= form_with url: user_sessions_path, local: true do |f|  %>
    <div class="row">
      <div class="offset-4 col-4 offset-4">
        <%= f.text_field :account_id, class: "form-control", placeholder: "ユーザーID", id: "form-id" %>
      </div>
    </div>
    <div class="row">
      <div class="offset-4 col-4 offset-4">
      <%= f.password_field :password, class: "form-control", placeholder: "パスワード", id: "form-password" %>
      </div>
    </div>
    <%= f.submit "ログイン", class: "btn btn-success", id: "btn-login" %>
  <% end %>
</div>


  
